@mixin clearfix {
  // appends a pseudo element at the end to clear the floats
  &::after {
    // must specifx content otherwise pseudo element will not appear on the page,
    // but empty, as we don't want to see anything.
    content: '';
    display: table;
    clear: both;
  }
}
