{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-prettier"
  ],
  "rules": {
    "selector-nested-pattern": "^&",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        ignoreAtRules: ['mixin']
      }
    ]
  }
}
